[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
scrampy = {editable = true, ref = "master", git = "https://github.com/falkevik/scrampy.git"}
protobuf = "==3.5.1"

[requires]
python_version = "3.5"
